
<!-- filter Method -->

<input type="text" [(ngModel)]="search" (keypress)="getFilteredallstudents()">

<!-- Sort Method -->

<label>Column:</label>
<select [(ngModel)]="column">
    <option>name</option>
    <option>class</option>
    <option>id</option>
</select>

<label>Order:</label>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button (click)="getSortedallstudents()">Sort</button>

<!-- pagination method -->

<label>Limit:</label>
<select [(ngModel)]="limit">
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
</select>

<label>Page:</label>
<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
</select>

<button (click)=" pagedstudent()">Proced</button>


<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Percentage</th>
            <th>Class</th>
            <th>Email</th>
            <th>Password</th>
            <th>Avatar</th>
            <th>action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students" >
            <td>{{student.name}}</td>
            <td>{{student.id}}</td>
            <td>{{student.percentage}}</td>
            <td>{{student.class}}</td>
            <td>{{student.email}}</td>
            <td>{{student.Password}}</td>
            <td>
                <img src="{{student.avatar}}" alt="">
            </td>
            <td>
                <button (click)="deletestudent(student.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>

</table>
